apiVersion: v1
kind: Service
metadata:
  name: {{ include "plausible-analytics.fullname" . }}
  labels:
    {{- include "plausible-analytics.labels" . | nindent 4 }}
{{- if .Values.labels }}
{{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
{{- end }}
{{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "plausible-analytics.selectorLabels" . | nindent 4 }}
